In [1]:
import requests

website = 'http://localhost:5000'

# 1 Make prediction via HTTP POST API

In [2]:

url = f'{website}/api/predict_one'
model_inputs = {
    "age": 30,
    "sex": "female",
    "bmi": 20,
    "children": 1,
    "smoker": "yes",
    "region": "southwest"
}  # Try commenting out any one of the field above to generate error

response = requests.post(url, json = model_inputs)
print(response)  # 200 means OK, 400 means Bad Request
print(response.text)

<Response [200]>
{
  "prediction": 17353.51581464062
}

# 2 Make multiple predictions with one API call

In [3]:
import pandas as pd

# source: https://github.com/stedy/Machine-Learning-with-R-datasets/blob/master/insurance.csv
dataset = pd.read_csv('https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv')
X = dataset.drop(columns='charges')
y = dataset['charges']

X

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [4]:
records = X.to_dict('records')  # reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_dict.html
records[:3]

[{'age': 19,
  'sex': 'female',
  'bmi': 27.9,
  'children': 0,
  'smoker': 'yes',
  'region': 'southwest'},
 {'age': 18,
  'sex': 'male',
  'bmi': 33.77,
  'children': 1,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 28,
  'sex': 'male',
  'bmi': 33.0,
  'children': 3,
  'smoker': 'no',
  'region': 'southeast'}]

In [5]:

url = f'{website}/api/predict'

response = requests.post(url, json = records)
print(response)             # 200 means OK, 400 means Bad Request
print(response.text[:150])  # print first 150 characters of response

<Response [200]>
{
  "predictions": [
    18781.333616782573,
    3290.7618229951986,
    5957.788815169634,
    6953.287359030926,
    4323.856727019878,
    ...
    11939.009060612036,
    3551.4276978005855,
    2431.20540560705,
    2497.745627247861,
    28183.124953572744
  ]
}

## Bonus: Calculate RMSE on predictions

In [6]:
# print(response.json())

y_preds = response.json()['predictions']
print(f'y_preds: {y_preds[:3]}')  # print first 3 predictions

y_preds: [18781.333616782573, 3290.7618229951986, 5957.788815169634]

In [7]:

from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y, y_preds, squared=False)
print(round(rmse,2))

3971.5