# 1 Import Dataset

In [ ]:
import pandas as pd

df = pd.read_csv('../data/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# 2 Exploratory Data Analysis

- list unique values for categorical columns
- explore range of values for numeric columns

_You are strongly encouraged to do further EDA via charting libraries like matplotlib or plotly._

In [17]:
categorical_cols = list(df.select_dtypes('object').columns)
print("Categorical columns:", categorical_cols)

for col in categorical_cols:
    print(col, df[col].unique())

Categorical columns: ['sex', 'smoker', 'region']
sex ['female' 'male']
smoker ['yes' 'no']
region ['southwest' 'southeast' 'northwest' 'northeast']

In [6]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

# 3 Model Training

- Selected model: CatBoostRegressor with `iterations=100, depth=4`
- You are encouraged to further tune this model or explore other models like XGBoost, LGBM

In [20]:
from catboost import CatBoostRegressor

X = df.drop(columns='charges')
y = df['charges']

model = CatBoostRegressor(iterations=100, depth=4)
model.fit(X, y, cat_features=categorical_cols, verbose=False)

# 4 Export Model

In [22]:
import joblib

joblib.dump(model, '../model/catboost_model.pkl')

['../model/catboost_model.pkl']